<!-- ---- -->
<!-- Hotel-->
<!-- ---- -->
<section id="hotel">
  <div class="container">
    <div class="row justify-content-center evelope">
      <div class="col">
        <h2 class="hotel__title title">Book Hotel</h2>
        <div class="row">
            <div class="col col-12 col-md-5 location-card">

              <div class="card">
                <div class="card-block u-hover-shadow">
                  <h3 class="card-title">Holiday Inn</h3>
                  <p class="card-text">4501 Eastgate Blvd,<br/>Cincinnati, OH 45245</p>
                  <p class="card-text">Phone: (513) 752-4400</p>
                </div>
              </div> <!-- ./ card -->

              <a aria-disabled="true"
                id="hotel__btn"
                class="btn btn-primary btn-lg"
                href="https://www.ihg.com/holidayinn/hotels/us/en/cincinnati/cvgem/hoteldetail?qAdlt=1&qBrs=6c.hi.ex.rs.ic.cp.in.sb.cw.cv.ul.vn.ki.va.sp.nd.ct&qChld=0&qFRA=1&qGRM=0&qGrpCd=BWB&qIta=99801505&qPSt=0&qRRSrt=rt&qRef=df&qRms=1&qRpn=1&qRpp=20&qSHp=1&qSmP=3&qSrt=sBR&qWch=0&srb_u=1&icdv=99801505&setPMCookies=true"  role="button" target="_blank">Book A Room</a>

            </div>

            <div class="col col-12 col-md-7">
              <div class="img-thumbnail u-hover-shadow">

                  <iframe
                    class="map"
                    frameBorder="0"
                    src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12385.067387445399!2d-84.2748238!3d39.1003945!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xc522c9efda64fcbf!2sHoliday+Inn+%26+Suites+Cincinnati-Eastgate+(I-275e)!5e0!3m2!1sen!2sus!4v1524874449208">
                    Map to Holiday Inn
                  </iframe>

              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</section>

