<section id="registry">
  <div class="container">
      <h2 class="title">Registry</h2>

      <div id="registry-btn-container">

        <!-- - - - - - - - - - -->
        <!-- The Knot Registry -->
        <!-- - - - - - - - - - -->
        <div>
          <a
            href="https://registry.theknot.com/travis-mikolay-jacqueline-barker-september-2018-oh/25241487"
            target="_blank"
            class="registry__btn btn btn--primary btn-lg">
            <img src=""
              alt="Bed Bath and Beyond Logo"
              [lazyLoad]="'./assets/img/registry/the-knot-registry.svg'"
              [offset]="250"
              [defaultImage]=""/>
          </a>
        </div>

    </div> <!-- ./ registry-btn-container -->
  </div> <!-- ./ container -->
</section>
