<section id="registry">
  <div class="container">
      <h2 class="title">Registry</h2>

      <div id="registry-btn-container">

        <!-- - - - - - - - - - -->
        <!-- The Knot Registry -->
        <!-- - - - - - - - - - -->
        <div>
          <a
            href="https://registry.theknot.com/travis-mikolay-jacqueline-barker-september-2018-oh/25241487"
            target="_blank"
            class="registry__btn btn btn--primary btn-lg">
            <img src=""
              alt="Bed Bath and Beyond Logo"
              [lazyLoad]="'./assets/img/registry/the-knot-registry.svg'"
              [offset]="250"
              [defaultImage]=""/>
          </a>
        </div>





        <!-- - - - - - - - -->
        <!-- Amazon Button -->
        <!-- - - - - - - - --
        <div>
          <a href="https://smile.amazon.com/wedding/share/jackietravis"
            target="_blank"
            id="btn-amazon"
            class="btn my-3 my-sm-0 mx-0 mx-sm-3">
            <img src=""
              alt="Amazon Logo"
              [lazyLoad]="'./assets/img/registry/amazon.svg'"
              [offset]="250"
              [defaultImage]=""/>
          </a>
        </div>
        <!-- - - - - - - - - -->
        <!-- Bed Bath Button -->
        <!-- - - - - - - - - --
        <div>
          <a
            href="https://www.bedbathandbeyond.com:443/store/giftregistry/view_registry_guest.jsp?registryId=544715691&eventType=Wedding&pwsurl="
            target="_blank"
            id="btn-bedbath"
            class="btn my-3 my-sm-0 mx-sm-3">
            <img src=""
              alt="Bed Bath and Beyond Logo"
              [lazyLoad]="'./assets/img/registry/bedbath.svg'"
              [offset]="250"
              [defaultImage]=""/>
          </a>
        </div>
        <!-- - - - - - - - - - -->
        <!-- The Knot Registry -->
        <!-- - - - - - - - - - --
        <div>
          <a
            href="https://registry.theknot.com/travis-mikolay-jacqueline-barker-september-2018-oh/25241487"
            target="_blank"
            id="btn-bedbath"
            class="btn my-3 my-sm-0 mx-sm-3">
            <img src=""
              alt="Bed Bath and Beyond Logo"
              [lazyLoad]="'./assets/img/registry/bedbath.svg'"
              [offset]="250"
              [defaultImage]=""/>
          </a>
          <span>Wedding Registry</span>
        </div>
        <!-- - - - -  - - - -->
        <!-- Newly Wed Fund -->
        <!-- - - - -  - - - --
        <div>
          <a
            href="https://registry.theknot.com/travis-mikolay-jacqueline-barker-september-2018-oh/25241487"
            target="_blank"
            id="btn-bedbath"
            class="btn my-3 my-sm-0 mx-sm-3">
            <img src=""
              alt="Bed Bath and Beyond Logo"
              [lazyLoad]="'./assets/img/registry/the-knot-registry.svg'"
              [offset]="250"
              [defaultImage]=""/>
          </a>
        </div>
      </div> <!-- ./registry-btn-container -->

    </div>
  </div> <!-- ./ container -->
</section>
