<section id="our-story">
  <div class="container">
    <div class="row">
      <div class="col">
        <h2 class="title">Our Story</h2>
        <p>
          The story of Travis Mikolay and Jackie Barker begins with their mutual friend Ashden Stark, to whom they will both be forever in debt.
          As with most fairy tails you know the two seemed to hit it off right away.
          Almost as if it was ment to be.
          Love at first sight?
          You would have to ask them.
        </p>

        <h4>The First Date</h4>
        <p>
          It was a cool autm night, fallen leaves floating in the air.
          Travis knocks on the door to be greeted by the stunningly beautiful Jackie Barker.
          His plan was to get burgers at Terry's Turf Club.
          You know, the best burger is Cincinnati.
          But on this special day it was just not meant to be.
          You see, Jackie was just dressed far to fancy for a burger joint.
          So our hero of the story was forced to step his game up.
          The only solution Travis thought, was to take his beautiful date to Bella Luna.
          A slightly more upscale Italian resturant on the east side.
        </p>

        <h4>Bella Luna</h4>
        <p>
            At Bella Luna, the waitress asked them if we were celebrating anything.
            With a smirk on his face Travis told her,
            "Oh, Why yes. Yes we are".
            "She is celebrating that she is pregnant, and I am celebrating it is not mine!"
            The poor waitress did not know what to do as Travis snickered.
        </p>

        <p>
            But, it was at this very moment in our adventure that Jackie knew!
            She knew that Travis was definitely the one for her.
            That poor waitress, he never let up the whole date.
            The waitress would ask if they wanted anything to drink, his reply was, go ahead hun, it's not bad for the baby if you have just one glass.
        </p>

        <p>
          Or at the end when he told the waitress, Better finish that, you are eating for two.
          After the entertaining dinner, we went to Game Works and I smoked him in every game.
          After that first date, we couldn't get enough of one another.
        </p>
      </div>
    </div>
  </div>
</section>
