<section id="location">

  <!--
        <picture class="location_picture" style="position: fixed">`
            <source media="(min-width: 576px)" [attr.lazyLoad]="'./assets/img/rsvp/envlope-576.webp'">
            <source media="(min-width: 576px)" [attr.lazyLoad]="'./assets/img/rsvp/envlope-576.png'">
            <source media="(min-width: 576px)" [attr.lazyLoad]="'./assets/img/rsvp/envlope-576.png'">
            <source media="" [attr.lazyLoad]="'./assets/img/rsvp/envlope-576.webp'">
            <source media="" [attr.lazyLoad]="'./assets/img/rsvp/envlope-576.png'">
            <img class="rsvp-evelope-img img-fluid"
              src=""
              [defaultImage]=""
              [lazyLoad]="'./assets/img/location/ihm_BG-576.jpg'"
              [offset]="300"
            />
        </picture>
      -->

  <div class="container">

    <h2 class="title">Location</h2>

    <div class="row">
      <div class="col col-12 col-md-5 location-card">
        <div class="card">
          <div class="card-block u-hover-shadow">
            <h3 class="card-title">Church and Reception</h3>
            <h4 class="card-title">Immaculate Heart of Mary</h4>
            <p class="card-text">
              Saturday, September 1, 2018
              <br/>2:30pm
              <br/>7800 Beechmont Ave,
              <br/>Cincinnati, OH 45255
            </p>
          </div> <!-- ./card-block -->
        </div> <!-- ./card -->
      </div> <!-- ./col -->

      <!-- Google Map iFrame -->
      <div class="col col-12 col-md-7">
        <div class="img-thumbnail u-hover-shadow">

          <iframe
            class="map"
            frameBorder="0"
            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12389.822580515747!2d-84.3402157!3d39.0733179!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x300fbc78ad6878e3!2sImmaculate+Heart+of+Mary+Church!5e0!3m2!1sen!2sus!4v1499560017228">
            Immaculate Heart of Mary
            7800 Beechmont Ave,
            Cincinnati, OH 45255
          </iframe>

        </div> <!-- ./img-thumbnail -->
      </div> <!-- ./col -->
    </div> <!-- ./row -->
  </div> <!-- ./container -->
</section>
