<section id="location">
  <div className="container">
    <h2 className="title">Location</h2>
    <div className="row">
      <div className="col col-12 col-md-5 location-card">
        <div className="card">
          <div className="card-block">
            <h3 className="card-title">Church and Reception</h3>
            <h4 className="card-title">Immaculate Heart of Mary</h4>
            <p className="card-text">7800 Beechmont Ave,<br/>Cincinnati, OH 45255</p>
          </div>
        </div>
      </div>
      <div className="col col-12 col-md-7">
        <div className="img-thumbnail">
          <iframe className="map" frameBorder="0" src={this.state.srcUrl}>
            Map to Chruch and Wedding
          </iframe>
        </div>
      </div>
    </div>
  </div>
</section>
