<section id="location">
  <div class="container">
    <h2 class="title">Location</h2>
    <div class="row">
      <div class="col col-12 col-md-5 location-card">
        <div class="card">
          <div class="card-block">
            <h3 class="card-title">Church and Reception</h3>
            <h4 class="card-title">Immaculate Heart of Mary</h4>
            <p class="card-text">7800 Beechmont Ave,<br/>Cincinnati, OH 45255</p>
          </div>
        </div>
      </div>
      <div class="col col-12 col-md-7">
        <div class="img-thumbnail">
         <!--
          <iframe class="map" frameBorder="0" src={this.state.srcUrl}>
            Map to Chruch and Wedding
          </iframe>
        -->
        </div>
      </div>
    </div>
  </div>
</section>
