<footer id="footer">
  <ul id="scene" class="scene unselectable" data-friction-x="0.1" data-friction-y="0.1" data-scalar-x="25" data-scalar-y="15">
    <li class="layer" data-depth="0.00"></li>
    <li class="layer" data-depth="0.10">
      <div
        class="background"
        [defaultImage]=""
        [lazyLoad]="'./assets/img/footer/background.jpg'"
        [offset]="300">
      </div>
    </li>
    <li class="layer" data-depth="0.10">
      <div class="light orange b phase-4"></div>
    </li>
    <li class="layer" data-depth="0.10">
      <div class="light purple c phase-5"></div>
    </li>
    <li class="layer" data-depth="0.10">
      <div class="light orange d phase-3"></div>
    </li>
    <li class="layer" data-depth="0.15">
      <ul class="rope depth-10">
        <li>
          <img
            [defaultImage]=""
            [lazyLoad]="'../assets/img/footer/rope.png'"
            [offset]="300"
            src=""
            alt="Rope"/>
        </li>
        <li class="hanger position-2">
          <div class="board cloud-2 swing-1"></div>
        </li>
        <li class="hanger position-4">
          <div class="board cloud-1 swing-3"></div>
        </li>
        <li class="hanger position-8">
          <div class="board birds swing-5"></div>
        </li>
      </ul>
    </li>
    <li class="layer title-flex-box" data-depth="0.20">

      <div class="hgroup">
        <img class="footer__title"
          [defaultImage]=""
          src=""
          [lazyLoad]="'./assets/img/footer/footer-title.svg'"
          [offset]="400"
          alt="Jackie And Travis Wedding"
        />
        <time dateTime="2018-09-01">Sept 1st 2018</time>
      </div>

    </li>
    <li class="layer" data-depth="0.30">
      <ul class="rope depth-30">
        <li>
            <img
            [defaultImage]=""
            [lazyLoad]="'../assets/img/footer/rope.png'"
            [offset]="100"
            src=""
            alt="Rope"/>
        </li>
        <li class="hanger position-1">
          <div class="board cloud-1 swing-3"></div>
        </li>
        <li class="hanger position-5">
          <div class="board cloud-4 swing-1"></div>
        </li>
      </ul>
    </li>
    <li class="layer" data-depth="0.30"><div class="wave paint depth-30"></div></li>
    <li class="layer" data-depth="0.40"><div class="wave plain depth-40"></div></li>
    <li class="layer" data-depth="0.50"><div class="wave paint depth-50"></div></li>
    <li class="layer" data-depth="0.60"><div class="lighthouse depth-60"></div></li>
    <li class="layer" data-depth="0.60">
      <ul class="rope depth-60">
        <li>
            <img
            [defaultImage]=""
            [lazyLoad]="'../assets/img/footer/rope.png'"
            [offset]="100"
            src=""
            alt="Rope"/>
        </li>
        <li class="hanger position-3">
          <div class="board birds swing-5"></div>
        </li>
        <li class="hanger position-6">
          <div class="board cloud-2 swing-2"></div>
        </li>
        <li class="hanger position-8">
          <div class="board cloud-3 swing-4"></div>
        </li>
      </ul>
    </li>
    <li class="layer" data-depth="0.60"><div class="wave plain depth-60"></div></li>
    <li class="layer" data-depth="0.80"><div class="wave plain depth-80"></div></li>
    <li class="layer" data-depth="1.00"><div class="wave paint depth-100"></div></li>
  </ul>
</footer>
