#hotel {
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  -webkit-box-shadow: inset 0 30px 80px 0 rgba(0, 0, 0, .9),inset 0 -30px 80px 0 rgba(0, 0, 0, .9);
  box-shadow: inset 0 30px 80px 0 rgba(0, 0, 0, .9),inset 0 -30px 80px 0 rgba(0, 0, 0, .9);
  -webkit-transform: translate3d(0,0,0);

  .container {
    width: 960px;

    .hotel__title {
      background: $secondary-gradient-title;
      -webkit-background-clip: text;
      background-clip: text;
    }

    #hotel__btn {
      background: $secondary-gradient;
      border-color: $secondary-color-dark;
      margin: 20px 0;
      text-shadow: 0 0 0 rgba(255,255,255,0);
      width: 100%;

      &:hover {
        border-color: $secondary-color-dark;
        box-shadow: 0px 0px 5px #333;
        text-shadow: 0px 0px 4px rgba(255,255,255,.9);
      }
    }

    iframe.map {
      height: 400px;
      width: 100%;
    }
  }
}

#hotel {
  background-image: url("./assets/img/hotel/holidayInn-576.jpg");
  background-image:
    image ( "./assets/img/hotel/holidayInn-576.webp" format('webp'),
            "./assets/img/hotel/holidayInn-576.jpg");
}
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  #hotel {
    background-image: url("./assets/img/hotel/holidayInn-768.jpg");
    background-image:
      image ( "./assets/img/hotel/holidayInn-768.webp" format('webp'),
              "./assets/img/hotel/holidayInn-768.jpg");
  }
}
// Medium devices (tablets, 768px and up)
@media (min-width:768px) {
  #hotel {
    background-image: url("./assets/img/hotel/holidayInn-992.jpg");
    background-image:
      image ( "./assets/img/hotel/holidayInn-992.webp" format('webp'),
              "./assets/img/hotel/holidayInn-992.jpg");
  }
}
// Large devices (desktops, 992px and up)
@media (min-width:992px) {
  #hotel {
    background-image: url("./assets/img/hotel/holidayInn-1200.jpg");
    background-image:
      image ( "./assets/img/hotel/holidayInn-1200.webp" format('webp'),
              "./assets/img/hotel/holidayInn-1200.jpg");
  }
}
// Extra large devices (large desktops, 1200px and up)
@media (min-width:1200px) {
  #hotel {
    background-image: url("./assets/img/hotel/holidayInn.jpg");
    background-image:
      image ( "./assets/img/hotel/holidayInn.webp" format('webp'),
              "./assets/img/hotel/holidayInn.jpg");
  }
}
