

/* -- [ REGISTRY ] -- */

#registry {

  .container {
    @include align-center;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  #registry-btn-container {
    @include align-center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;

    div {
      align-self: center;
    }
  }

  .registry__btn {
    max-width: 350px;
    padding: 20px;
  }

  a img {
    width: 100%;
    display: block;
    filter: drop-shadow(0 0 0 transparent);
    -webkit-transition: all .05s; /* Safari */
            transition: all .05s;
  }
  a:hover img {
    filter: drop-shadow(0 0 1px $primary-color-darker);
  }



  #btn-amazon img { height: 60.27px; }

  #btn-bedbath img { height: 63px; }

}
