#wedding-party {
  text-align: center;
  background-color: rgba(170, 0, 255, 0.1);
  background-size: 70px 120px;
  // -- [ NORMAL ] --
  background-image:
  // Line 1
  repeating-linear-gradient(120deg,rgba(226,84,255,.1),rgba(226,84,255,.1)1px,transparent 1px,transparent 60px),
  // Line 2
  repeating-linear-gradient(60deg, rgba(226,84,255,.1), rgba(226,84,255,.1) 1px, transparent 1px, transparent 60px),
  // Shape 1
  linear-gradient(60deg, rgba(255,255,255,.5) 25%, transparent 25%, transparent 75%, rgba(255,255,255,.5) 75%, rgba(255,255,255,.5)),
  // Shape 2
  linear-gradient(120deg, rgba(255,255,255,.5) 25%, transparent 25%, transparent 75%, rgba(255,255,255,.5) 75%, rgba(255,255,255,.5));

  .wedding-party__picture {
    display: flex;
    justify-content: center;
  }
  .wedding-party__img {
    background-color: #fff;
    width: 250px;
    height: 346px;
    display: block;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
    &:hover {
      -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);
      box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);
      transform: scale(.99);
    }
  }

}
