<!-- https://codepen.io/AllThingsSmitty/pen/JJavZN?editors=0010 -->
<section id="count-down">
  <div class="container">
    <time dateTime="2018-09-01" class="clock-container">
          <div class="clock-block">
            <span class="time-descriptior">DAYS</span>
            <span id="days" class="ticker"></span>
          </div>
          <div class="clock-block">
            <span class="time-descriptior">HOURS</span>
            <span id="hours" class="ticker"></span>
          </div>
          <i> : </i>
          <div class="clock-block">
            <span class="time-descriptior">MINS</span>
            <span id="minutes" class="ticker"></span>
          </div>
          <i> : </i>
          <div class="clock-block">
            <span class="time-descriptior">SECS</span>
            <span id="seconds" class="ticker"></span>
          </div>
    </time>
  </div>
</section>
